Django==5.1 # Glowny framework serwera aplikacyjnego
djangorestframework==3.16.0 # Framework do tworzenia API w Django
djangorestframework_simplejwt==5.5.0 # Framework do autoryzacji w Django
django-cors-headers==4.7.0 # CORS headers do zezwolenia na CORS

psycopg2-binary==2.9.10 # Baza danych PostgreSQL
python-dotenv>=0.21.0 # Env variables
google-auth>=2.39.0 # Google Auth
requests>=2.28.0 # Requests do HTTP requests
vaderSentiment>=3.3.2 # VaderSentiment do analizy sentymentu

langchain # Langchain do AI/ML (LLM)
langchain-openai # Langchain OpenAI
langgraph # Langgraph do AI/ML (LLM)
langchain-google-genai # Langchain Google GenAI

pandas # Pandas do analizy danych
numpy # NumPy do obliczeń matematycznych
scikit-learn # Scikit-learn do machine learning
scipy # SciPy do obliczeń naukowych
matplotlib # Matplotlib do wizualizacji danych
dash # Dash do wizualizacji danych
